<div *ngIf="isLoggedIn; else loggedOut">
   Logged in as {{roles}}.
</div>
 <ng-template #loggedOut>
  <mat-toolbar class="p-5">
    <span>Queit time Login</span>
  </mat-toolbar>
  <mat-card class="login-card m-5">
    <mat-card-content>
      <form class="login-form" name="from" (ngSubmit)="f.form && onSubmit()" #f = "ngForm" novalidate>
        <mat-form-field class="full-width">
          <mat-label>Username</mat-label>
          <input matInput placeholder="username" name="username" [(ngModel)]="form.username" required/>
        </mat-form-field>
        <mat-form-field class="full-width">
          <mat-label>Password</mat-label>
          <input type="password" matInput placeholder="Password" name="password" [(ngModel)]="form.password">
        </mat-form-field>
        <mat-card-actions     
        >
          <button 
             mat-raised-button  color="primary"
             >
            Login
          </button>
          <div *ngIf="f.submitted && isLoginFailed" class="alert alert-danger mt-4">
            Login failed: {{ errorMessage }}

          </div>
          
        </mat-card-actions>
      </form>
    </mat-card-content>
   
  </mat-card>
  
  <hr />
   <div class="pl-5">
    <p>Don't have an account</p>
    <button routerLink="/signup" mat-raised-button color="primary">Sign up</button>
    
   </div>
 </ng-template>
