<!-- <nb-layout>
  <nb-layout-header>
      <button nbButton (click)="toggleTheme()" status="primary">Change theme</button>
  </nb-layout-header>
  <nb-layout-column>
   
  </nb-layout-column>
</nb-layout> -->


<!-- <mat-toolbar color="primary">
  <mat-toolbar-row routerLinkActive="active">
    <a mat-button routerLink="/">Quiet time</a>
    <span class="spacer"></span>
      <span *ngIf="authority === 'user'" class="nav-item"><a mat-button routerLink="/user">User Board</a></span>
      <span *ngIf="authority === 'manager'" class="nav-item"><a mat-button routerLink="/manager">Manager's Board</a></span>
      <span *ngIf="authority === 'admin'" class="nav-item"><a mat-button routerLink="/admin">Admin Board</a></span>
      <span *ngIf="!authority" class="nav-item"><a mat-button routerLink="/login">Login</a></span>
      
      <button class="btn btn-secondary" ><i class="fa fa-sign-out fa-1x" (click)="logout()">Logout</i> </button>

  </mat-toolbar-row>
</mat-toolbar> -->
 
<div>
  <router-outlet></router-outlet>
</div>