<div *ngIf="isSignedUp; else signupForm">
  Your registration is successful. Please login!
</div>
<ng-template #signupForm>
<mat-toolbar>
  <span>Registration</span>
</mat-toolbar>
<mat-card class="my-card">
  <mat-card-content>
    <form class="registration-form" name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
      <mat-form-field class="full-width">
        <mat-label>First Name</mat-label>
        <input matInput placeholder="First name" name="firstName" [(ngModel)] ="form.firstName" required>
      </mat-form-field>
      <mat-form-field class="full-width">
        <mat-label>Last Name</mat-label>
        <input matInput placeholder="Last name" name="lastName" [(ngModel)] ="form.lastName" required>
      </mat-form-field>
      <mat-form-field class="full-width">
        <mat-label>Address</mat-label>
        <input matInput placeholder="Address" name="residence" [(ngModel)] ="form.residence" required>
      </mat-form-field>
      <mat-form-field class="full-width">
        <mat-label>Email</mat-label>
        <input matInput placeholder="Email" name="email"  [(ngModel)] ="form.email" required>
      </mat-form-field>
      <mat-form-field class="full-width">
        <mat-label>Username</mat-label>
        <input matInput placeholder="Username" name="username" [(ngModel)] ="form.username" required>
      </mat-form-field>
      <mat-form-field class="full-width">
        <mat-label>Password</mat-label>
        <input matInput placeholder="Password" name="password" [(ngModel)] ="form.password" required>
      </mat-form-field>
      <section class="gender-selection">
        <label class="gender-margin">Gender: </label>
        <mat-radio-group name="gender" [(ngModel)] ="form.gender">
          <mat-radio-button class="gender-margin" value="Male"> Male </mat-radio-button>
          <mat-radio-button class="gender-margin" value="Female"> Female </mat-radio-button>
        </mat-radio-group>
      </section>
      <mat-form-field>
        <mat-label>Date of Birth</mat-label>
        <input matInput [matDatepicker]="picker" name="dateOfBirth" [(ngModel)] ="form.dateOfBirth" placeholder="Choose a date">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>       
      <mat-card-actions>
        <button mat-raised-button  color="primary">REGISTER</button>
        <div *ngIf="f.submitted && isSignUpFailed" class="alert alert-warning">
          Signup failed! <br /> 
          {{ errorMessage }}
        </div>
      </mat-card-actions>
    </form>

  </mat-card-content>
</mat-card>

</ng-template>